.card{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  background: #151b23f2;
  padding: 1rem;
  margin: 1rem 0;
  gap: .5rem;
  border-radius: .5rem;
  margin: 1.5rem 0;
}

.card::before,
.card::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: linear-gradient(45deg, #ff0000, #ff5100, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
  background-size: 300%;
  border-radius: .5rem;
  animation: AnimeBorder 8s linear infinite;
  transform: transition .5s;
  filter: blur(.3rem);
}

@keyframes AnimeBorder {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
    background: rotate(360deg);  
  }
  
}

.card::after{
  filter: blur(1rem);
}